@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
@{
    ViewBag.Title = "Aspire Luxury Auto";
}
<!-- ////////////////////////////////////////// -->
<div class="wheel-start wheel-start2">
    <img src="@Url.Content("~/Content/images/bg5.jpg")" alt="" class="wheel-img">
    <div class="container padd-lr0">
        <div class="col-lg-12  padd-lr0">
            <div class="wheel-start-form wheel-start-form2 marg-lg-t310   marg-md-t0">
                <form action="#">
                    <label for="input-val20"><span>Dropping Off</span>
                    <input type="text" id=input-val20 placeholder="ZIP, City, Airport or Address" required>
                    </label>
                    <label for="input-val21"><span>Picking Up</span>
                    <input type="text" id=input-val21 placeholder="ZIP, City, Airport or Address" required>
                    </label>
                    <div class="clearfix">
                        <div class="wheel-date">
                            <span>Pickup Date</span>
                            <label class="fa fa-calendar" for="input-val22">
                            <input  class="datetimepicker" type="text" id=input-val22 value="29 Apr">
                            </label>
                        </div>
                        <div class="wheel-date ">
                            <span>Pickup time</span>
                            <label for="input-val23" class="fa fa-clock-o">
                            <input class="timepicker" type="text" id=input-val23 value="18:00">
                            </label>
                        </div>
                        <div class="wheel-date">
                            <span>Return Date</span>
                            <label class="fa fa-calendar" for="input-val24">
                            <input  class="datetimepicker" type="text" id=input-val24 value="29 Apr">
                            </label>
                        </div>
                        <div class="wheel-date">
                            <span>Return Time</span>
                            <label for="input-val25" class="fa fa-clock-o">
                            <input class="timepicker" type="text" id='input-val25' value="18:00">
                            </label>
                        </div>
                        <div class="wheel-date">
                            <span>Driver’s Age</span>
                            <select class="selectpicker">
                                <option>21</option>
                                <option>22</option>
                                <option>23</option>
                                <option>24</option>
                                <option>25</option>
                                <option>26</option>
                                <option>27</option>
                                <option>28</option>
                                <option>29</option>
                                <option>30</option>
                                <option>31</option>
                                <option>32</option>
                                <option>33</option>
                                <option>34</option>
                                <option>35</option>
                                <option>36</option>
                                <option>37</option>
                                <option>38</option>
                                <option>39</option>
                                <option>40</option>
                                <option>41</option>
                                <option>42</option>
                                <option>43</option>
                                <option>44</option>
                                <option>45</option>
                                <option>46</option>
                                <option>47</option>
                                <option>48</option>
                                <option>49</option>
                                <option>50</option>
                            </select>
                        </div>
                        <div class="wheel-date">
                            <span>Resident</span>
                            <select class="selectpicker">
                                <option>USA</option>
                                <option>UK</option>
                                <option>AU</option>
                                <option>JP</option>
                            </select>
                        </div>
                        <label for="input-val26" class="promo">
                        <input type="text" id='input-val26' placeholder="Promo Code (Optional)">
                        </label>
                        <label for="input-val27" class="promo promo2">
                        <button class="wheel-btn" id='input-val27'>Search</button>
                        </label>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-12">
            <header class="wheel-header text-center marg-lg-t80 ">
                <h1>Search - Hire - Compare - Save</h1>
                <h5>We Help you Rent Car With Unpredented Offers</h5>
            </header>
        </div>
    </div>
    <div class="wheel-service-img2">
        <img src="@Url.Content("~/Content/images/i1.png")" alt="" class="wheel-img2">
    </div>
</div>
<!-- ////////////////////////////////////////// -->
<div class="wheel-four-block-body">
    <div class="container-fluid padd-lr0">
        <div class="row">
            <div class="col-lg-3 col-sm-6 padd-lr0 wheel-bg7">
                <div class="wheel-four-block">
                    <img src="@Url.Content("~/Content/images/ico4.png")" alt="">
                    <h5>Most Affordable</h5>
                    <p>We provide the best rates for luxury cars in the market.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6  padd-lr0 wheel-bg8">
                <div class="wheel-four-block">
                    <img src="@Url.Content("~/Content/images/ico2a.png")" alt="">
                    <h5>Best Rated Service</h5>
                    <p>We have had one of the best reviews in terms of customer service in our previous locations</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 padd-lr0 wheel-bg9">
                <div class="wheel-four-block">
                    <img src="@Url.Content("~/Content/images/ico1.png")" alt="">
                    <h5>Exclusive Discounts</h5>
                    <p>We also provide best discounts for our loyal customers</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 padd-lr0 wheel-bg10">
                <div class="wheel-four-block">
                    <img src="@Url.Content("~/Content/images/ico5.png")" alt="">
                    <h5>Easy Booking & Searching</h5>
                    <p>The process to search and reserve a car is very simple</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ////////////////////////////////////////// -->
<div class="wheel-bg2">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="wheel-header wheel-testi-header text-center marg-lg-t155 marg-lg-b65 marg-md-t50  marg-md-b50">
                    <h3>Our Mission is <span>Client’s</span> Satisfaction</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="wheel-testimonial text-center">
                    <p>Write something relevant over here</p>
                    <div class="wheel-testimonial-info">
                        <span>Srikanth Chippa</span>
                        <img src="@Url.Content("~/Content/images/l1.png")" alt="">
                        <p> C.E.O. & Co-Founder</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 padd-lr0  marg-lg-b150  marg-md-b50">
                <div class="wheel-testimonial-item">
                    <i class="fa fa-users"></i>
                    <span data-to="753" data-speed="10000"></span><b>+</b>
                    <p>Dedicated Employees</p>
                </div>
                <div class="wheel-testimonial-item">
                    <i class="fa fa-thumbs-o-up"></i>
                    <span data-to="9053" data-speed="5000"></span><b>+</b>
                    <p>Satisfied Customers</p>
                </div>
                <div class="wheel-testimonial-item">
                    <i class="fa  fa-car"></i>
                    <span data-to="529" data-speed="6000"></span><b>+</b>
                    <p>100% Fit Veihicles</p>
                </div>
                <div class="wheel-testimonial-item">
                    <i class="fa fa-trophy"></i>
                    <span data-to="111" data-speed="1000"></span><b>+</b>
                    <p>Int. Awards Achieved</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ////////////////////////////////////////// -->
<div class="container padd-lr0">
    <div class="row">
        <div class="col-xs-12">
            <header class="wheel-header text-center marg-lg-t140 marg-lg-b95  marg-md-t50 marg-md-b50">
                <h5>We have a Great  </h5>
                <h3>collection of <span> vehicles</span></h3>
            </header>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 ">
            <div class="wheel-collection-slider marg-lg-b140  marg-md-b50">
                <div class="swiper-container  " data-autoplay="0" data-touch="1" data-mouse="0" data-xs-slides="1" data-sm-slides="1" data-md-slides="1" data-lg-slides="1" data-add-slides="1" data-slides-per-view="responsive" data-loop="1" data-speed="1000">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="row">
                                <div class="col-md-5 padd-lr0">
                                    <div class="wheel-collection-info wheel-collection-info2">
                                        <div class="wheel-collection-text">
                                            <h4>2016 Porsche Panamera</h4>
                                            <span>Luxury Sedan</span>
                                            <h5><b>$400 <sup>00</sup></b>/Day</h5>
                                            <p>The latest Panamera is fully modern and technologically advanced.
                                              Two seven-inch screens flank the tach, and the Porsche Advanced Cockpit includes a 12.3-inch tablet-like touchscreen in front of the driver.
                                              Apple CarPlay is available, but there's no mention of Android Auto.
                                              A new thermal imaging camera makes it easier to see in the dark.
                                            </p>
                                            <ul>
                                                <li><i class="fa fa-suitcase"></i><span>12 Bags</span></li>
                                                <li><i class="fa fa-user"></i><span>5 Passengers</span></li>
                                                <li><i class="fa fa-tachometer"></i><span>24 MPG</span></li>
                                            </ul>
                                            <a href="" class="wheel-btn">View All Rental Cars</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7 padd-lr0">
                                    <div class="wheel-collection-img wheel-collection-img2"><img src="@Url.Content("~/Content/images/i6a.png")" alt=""></div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="row">
                                <div class="col-md-5 padd-lr0">
                                    <div class="wheel-collection-info wheel-collection-info2">
                                        <div class="wheel-collection-text">
                                            <h4>2015 Ferrari LaFerrari</h4>
                                            <span>Sports</span>
                                            <h5><b>$899 <sup>99</sup></b>/Day</h5>
                                            <p>The oddly-named Ferrari LaFerrari is the latest in a long line of technologically-advanced hyper-cars from the Prancing Horse.
                                              The LaFerrari stands out as Ferrari's first street legal gasoline-electric hybrid.
                                              At its core, the LaFerrari uses a 789-horsepower 6.3-liter V12 engine capable of revving to 9,350 rpms.
                                              From there, the engine is coupled to a 120-kilowatt electric motor which bumps total maximum output to 949 horsepower and 663 lb-ft. of torque.
                                            </p>
                                            <ul>
                                                <li><i class="fa fa-suitcase"></i><span>6 Bags</span></li>
                                                <li><i class="fa fa-user"></i><span>2 Passengers</span></li>
                                                <li><i class="fa fa-tachometer"></i><span>12 MPG</span></li>
                                            </ul>
                                            <a href="" class="wheel-btn">View All rental Car</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7 padd-lr0">
                                    <div class="wheel-collection-img wheel-collection-img2"><img src="@Url.Content("~/Content/images/Ferrari-laferrari.png")" alt=""></div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="row">
                                <div class="col-md-5 padd-lr0">
                                    <div class="wheel-collection-info wheel-collection-info2">
                                        <div class="wheel-collection-text">
                                            <h4>2016 Volvo XC70</h4>
                                            <span>Estate Wagon</span>
                                            <h5><b>$150 <sup>00</sup></b>/Day</h5>
                                            <p>The wagon come with light-duty off-road ability, supportive front seats, a fuel-efficient four-cylinder engine and various other safety features.
                                              It has ample cargo capacity and seats 5 comfortably.
                                              For the 2016 XC70, Volvo has replaced the previous 3.2-liter inline-6 engine with a turbocharged 2.5-liter inline-5 that's more fuel-efficient.

                                             </p>
                                            <ul>
                                                <li><i class="fa fa-suitcase"></i><span>6 Bags</span></li>
                                                <li><i class="fa fa-user"></i><span>5 Passengers</span></li>
                                                <li><i class="fa fa-tachometer"></i><span>26 MPG</span></li>
                                            </ul>
                                            <a href="" class="wheel-btn">View All rental Car</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7 padd-lr0">
                                    <div class="wheel-collection-img wheel-collection-img2"><img src="@Url.Content("~/Content/images/Volvo2016-XC70.png")" alt=""></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pagination"></div>
                </div>
                <div class="swiper-outer-left fa fa-angle-left"></div>
                <div class="swiper-outer-right fa fa-angle-right"></div>
            </div>
        </div>
    </div>
</div>
<!-- ////////////////////////////////////////// -->
<div class="wheel-quote text-center">
    <img src="@Url.Content("~/Content/images/bg3.jpg")" alt="" class="wheel-img">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="swiper-container" data-autoplay="7000" data-touch="1" data-mouse="0" data-xs-slides="1" data-sm-slides="1" data-md-slides="1" data-lg-slides="1" data-add-slides="1" data-slides-per-view="responsive" data-loop="1" data-speed="1000">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="wheel-quote-item">
                                <div class="wheel-quote-logo"><img src="@Url.Content("~/Content/images/l2.png")" alt=""></div>
                                <p>I've rented cars from them on few occasions, and will continue to conduct business with them when necessary in the future.
                                  I usually call Maryam and tell her what my budget is and how long I need the rental for, she always exceeds my expectations.
                                  Not only is she nice, sweet and professional, she is also very understanding when it comes to my budget.
                                  Once I couldn't afford to pay the asked price for the car i wanted, she was able to find another vehicle with the same features but in my budget.
                                  You can't get that level of service at bigger companies like Hertz or Enterprise.
                                  Those companies are not flexible with their prices or their cars, they have set prices for each of their cars and they could care less if you rent with them or not.
                                  But Value Rental Car does everything in their power,whether its with their offers or their customer service, to earn your business and to also keep you as a long term customer. </p>
                                <div class="wheel-quote-stars"><img src="@Url.Content("~/Content/images/stars.png")" alt=""></div>
                                <h6>Debbie G</h6>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="wheel-quote-item">
                                <div class="wheel-quote-logo"><img src="@Url.Content("~/Content/images/l2.png")" alt=""></div>
                                <p>Enrolled for their services for the sports car and they have a good collection considering the part of the country we are in.
                                Liking this company already</p>
                                <div class="wheel-quote-stars"><img src="@Url.Content("~/Content/images/stars.png")" alt=""></div>
                                <h6>Catrina Romero</h6>
                            </div>
                        </div>

                    </div>
                    <div class="pagination"></div>
                </div>
                <div class="swiper-outer-left fa fa-angle-left"></div>
                <div class="swiper-outer-right fa fa-angle-right"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="wheel-quote-partners">
                    <a href=""><img src="@Url.Content("~/Content/images/p1.png")" alt=""></a>
                    <a href=""><img src="@Url.Content("~/Content/images/p2.png")" alt=""></a>
                    <a href=""><img src="@Url.Content("~/Content/images/p3.png")" alt=""></a>
                    <a href=""><img src="@Url.Content("~/Content/images/p4.png")" alt=""></a>
                    <a href=""><img src="@Url.Content("~/Content/images/p5.png")" alt=""></a>
                    <a href=""><img src="@Url.Content("~/Content/images/p6.png")" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ////////////////////////////////////////// -->
<div class="container padd-lr0">
    <div class="row">
        <div class="col-md-6 ">
            <div class="wheel-info-img  marg-lg-t150 marg-lg-b150 marg-md-t100 marg-md-b100">
                <img src="@Url.Content("~/Content/images/i7.png")" alt="" class="wheel-img">
            </div>
        </div>
        <div class="col-md-6 ">
            <div class="wheel-info-text  marg-lg-t150 marg-lg-b150 marg-md-t100 marg-md-b100 marg-sm-t50 marg-sm-b50">
                <div class="wheel-header">
                    <h5>Who we are  </h5>
                    <h3>We Love Our <span>Customers</span></h3>
                </div>
                <span>Heading/tagline </span>
                <p>Write something relevant over here</p>
                <a href="" class="wheel-btn">Learn More</a>
            </div>
        </div>
    </div>
</div>
<!-- //////////////////////////////////////////-->
<div class="wheel-bg2">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="wheel-header text-center marg-lg-t140 marg-lg-b90  marg-md-t50">
                    <h5>How it works </h5>
                    <h3>Easy Process for<span> You</span></h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 padd-l0  padd-md-lr15">
                <div class="wheel-works text-center marg-lg-b150 marg-md-b50 ">
                    <div class="wheel-works-ico"><img src="@Url.Content("~/Content/images/ico6.png")" alt=""></div>
                    <h5>Make Plans</h5>
                    <p>Plan a trip to your favourite</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="wheel-works text-center marg-lg-b150 marg-md-b50 ">
                    <div class="wheel-works-ico"><img src="@Url.Content("~/Content/images/ico7.png")" alt=""></div>
                    <h5>Find a Car</h5>
                    <p>Search a car of your preference</p>
                </div>
            </div>
            <div class="col-md-4 padd-r0 padd-md-lr15">
                <div class="wheel-works text-center marg-lg-b150 marg-md-b50 ">
                    <div class="wheel-works-ico"><img src="@Url.Content("~/Content/images/ico8.png")" alt=""></div>
                    <h5>Enjoy the trip</h5>
                    <p>Enjoy yor trip without worries</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ////////////////////////////////////////// -->
<div class="wheel-news ">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="wheel-header text-center marg-lg-t140 marg-lg-b90 marg-md-t50 ">
                    <h5>our Blog </h5>
                    <h3>the Latest <span>news </span></h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 padd-l0  padd-md-lr15">
                <div class="wheel-news-item  wheel-news-item2 wheel-bg2 ">
                    <i class="">29 April</i>
                    <div class="wheel-news-item-img">
                        <img src="@Url.Content("~/Content/images/i8a.jpg")" alt="">
                    </div>
                    <div class="wheel-news-text">
                        <h5><a href="news-details.html">Europcar is offering car hire to airports for just £1</a></h5>
                        <p>Drivers can pick from more than 100 routes via the Europcar website, including various London pick-up points to Heathrow....</p>
                        <a href="">Read More </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="wheel-news-item  wheel-news-item2 wheel-bg2 ">
                    <i class="">29 April</i>
                    <div class="wheel-news-item-img">
                        <img src="@Url.Content("~/Content/images/i9a.jpg")" alt="">
                    </div>
                    <div class="wheel-news-text">
                        <h5><a href="news-details.html">Self-drive car rental startup Revv raises $9 million</a></h5>
                        <p>PrimeMover Mobility Technologies, which owns and operates self-drive car rental platform Revv, has raised $9 million....</p>
                        <a href="">Read More </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 padd-r0 padd-md-lr15">
                <div class="wheel-news-item  wheel-news-item2 wheel-bg2 ">
                    <i class="">29 April</i>
                    <div class="wheel-news-item-img">
                        <img src="@Url.Content("~/Content/images/i10a.jpg")" alt="">
                    </div>
                    <div class="wheel-news-text">
                        <h5><a href="news-details.html">Tourism to Boost the Self-Drive Car Rental Market in Emerging Countries</a></h5>
                        <p>In this report, Technavio covers the market outlook and growth prospects of the self-drive car rental market in emerging countries for 2016-2020....</p>
                        <a href="">Read More </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ////////////////////////////////////////// -->
<div class="wheel-app-body">
    <img src="@Url.Content("~/Content/images/bg6.jpg")" alt="" class="wheel-img">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="wheel-app-img marg-lg-t90 marg-md-t50"><img src="@Url.Content("~/Content/images/i19.png")" alt="" ></div>
            </div>
            <div class="col-md-8">
                <div class="wheel-app-text  marg-lg-t140 marg-md-b50 marg-md-t50">
                    <header class="wheel-header text-center">
                        <h5>The App is Here </h5>
                        <h3>Now It’s easier then <span>ever</span></h3>
                    </header>
                    <p>It's never been easier to rent a car from your mobile device.
                      The Aspire Luxury Auto App is your own free personal assistant for all things car rental.</p>
                    <div class="wheel-app  text-center">
                        <a href=""><img src="@Url.Content("~/Content/images/ico9.png")"" alt=""></a>
                        <a href=""><img src="@Url.Content("~/Content/images/ico10.png")" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ////////////////////////////////////////// -->
<div class="wheel-subscribe wheel-bg2">
    <div class="container ">
        <div class="row">
            <div class="col-md-6 padd-lr0">
                <div class="wheel-header">
                    <h5>Newsletter Signup </h5>
                    <h3>Subscribe & get<span> 20% </span> Off</h3>
                </div>
            </div>
            <div class="col-md-6 padd-lr0">
                <form action="#">
                    <input type="text" placeholder="Your Email Adddress">
                    <button class="wheel-btn">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
</div>
