
@{
    ViewBag.Title = "MakeReservation";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

        <!-- //////////////////////////////// -->
<div class="wheel-start3">
    <img src="@Url.Content("~/Content/images/bg7.jpg")" alt="" class="wheel-img">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 padd-lr0">
                <div class="wheel-start3-body clearfix marg-lg-t255 marg-lg-b75 marg-sm-t190 marg-xs-b30">
                    <h3>Reservation</h3>
                    <ol class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li class="active">Reservation</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /////////////////////////////////// -->
<div class="step-wrap">
    <!-- ////////////////////////////////////////// -->
    <div class="container padd-lr0">
        <div class="row">
            <div class="col-xs-12 padd-lr0">
                <ul class="steps">
                    <li class="title-wrap active">
                        <div class="title">
                            <span>1.</span>Make a reservation
                        </div>
                    </li>
                    <li class="title-wrap ">
                        <div class="title">
                            <span>2.</span>Select your car
                        </div>
                    </li>
                    <li class="title-wrap ">
                        <div class="title">
                            <span>3.</span>Choose your options
                        </div>
                    </li>
                    <li class="title-wrap ">
                        <div class="title">
                            <span>4.</span>Information & review
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- ////////////////////////////////////////// -->
</div>
<!-- ////////////////////////////////////////// -->
<div class="reservation">
    <div class="container padd-lr0 marg-lg-t100 marg-lg-b100 marg-xs-t0 marg-xs-b0">
        <div class="row">
            <div class="col-xs-12 padd-lr0">
                <!-- ////////////////////////////////////////// -->
                <div class="wheel-start-form wheel-start-form2">
                    <form action="#">
                        <label for="input-val20">
                            <span>Picking Up</span>
                            <input type="text" id=input-val20 placeholder="ZIP, City, Airport or Address" required>
                        </label>
                        <label for="input-val21">
                            <span>Picking Up</span>
                            <input type="text" id=input-val21 placeholder="ZIP, City, Airport or Address" required>
                        </label>
                        <div class="clearfix">
                            <div class="wheel-date">
                                <span>Pickup Date</span>
                                <label class="fa fa-calendar" for="input-val22">
                                    <input class="datetimepicker" type="text" id=input-val22 value="29 Apr">
                                </label>
                            </div>
                            <div class="wheel-date ">
                                <span>Pickup time</span>
                                <label for="input-val23" class="fa fa-clock-o">
                                    <input class="timepicker" type="text" id=input-val23 value="18:00">
                                </label>
                            </div>
                            <div class="wheel-date">
                                <span>Return Date</span>
                                <label class="fa fa-calendar" for="input-val24">
                                    <input class="datetimepicker" type="text" id=input-val24 value="29 Apr">
                                </label>
                            </div>
                            <div class="wheel-date">
                                <span>Return Time</span>
                                <label for="input-val25" class="fa fa-clock-o">
                                    <input class="timepicker" type="text" id='input-val25' value="18:00">
                                </label>
                            </div>
                            <div class="wheel-date">
                                <span>Driver’s Age</span>
                                <select class="selectpicker">
                                    <option>21</option>
                                    <option>22</option>
                                    <option>23</option>
                                    <option>24</option>
                                    <option>25</option>
                                    <option>26</option>
                                    <option>27</option>
                                    <option>28</option>
                                    <option>29</option>
                                    <option>30</option>
                                    <option>31</option>
                                    <option>32</option>
                                    <option>33</option>
                                    <option>34</option>
                                    <option>35</option>
                                    <option>36</option>
                                    <option>37</option>
                                    <option>38</option>
                                    <option>39</option>
                                    <option>40</option>
                                    <option>41</option>
                                    <option>42</option>
                                    <option>43</option>
                                    <option>44</option>
                                    <option>45</option>
                                    <option>46</option>
                                    <option>47</option>
                                    <option>48</option>
                                    <option>49</option>
                                    <option>50</option>
                                </select>
                            </div>
                            <div class="wheel-date">
                                <span>Resident</span>
                                <select class="selectpicker">
                                    <option>USA</option>

                                    <option>UK</option>
                                    <option>AU</option>

                                    <option>JP</option>

                                </select>
                            </div>
                            <label for="input-val26" class="promo">
                                <input type="text" id='input-val26' placeholder="Promo Code (Optional)">
                            </label>
                            <label for="input-val27" class="promo promo2">
                                <button class="wheel-btn" id='input-val27'>Search</button>
                            </label>
                        </div>
                    </form>
                </div>
                <!-- ////////////////////////////////////////// -->
            </div>
        </div>
    </div>
</div>
<!-- ////////////////////////////////////////// -->
<div class="wheel-quote text-center">
    <img src="@Url.Content("~/Content/images/bg3.jpg")" alt="" class="wheel-img">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="swiper-container" data-autoplay="7000" data-touch="1" data-mouse="0" data-xs-slides="1" data-sm-slides="1" data-md-slides="1" data-lg-slides="1" data-add-slides="1" data-slides-per-view="responsive" data-loop="1" data-speed="1000">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="wheel-quote-item">
                                <div class="wheel-quote-logo"><img src="@Url.Content("~/Content/images/l2.png")" alt=""></div>
                                <p>I've rented cars from them on few occasions, and will continue to conduct business with them when necessary in the future.
                                  I usually call Maryam and tell her what my budget is and how long I need the rental for, she always exceeds my expectations.
                                  Not only is she nice, sweet and professional, she is also very understanding when it comes to my budget.
                                  Once I couldn't afford to pay the asked price for the car i wanted, she was able to find another vehicle with the same features but in my budget.
                                  You can't get that level of service at bigger companies like Hertz or Enterprise.
                                  Those companies are not flexible with their prices or their cars, they have set prices for each of their cars and they could care less if you rent with them or not.
                                  But Value Rental Car does everything in their power,whether its with their offers or their customer service, to earn your business and to also keep you as a long term customer.
                                </p>

                                <div class="wheel-quote-stars"><img src="@Url.Content("~/Content/images/stars.png")" alt=""></div>
                                <h6>Debbie G</h6>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="wheel-quote-item">
                                <div class="wheel-quote-logo"><img src="@Url.Content("~/Content/images/l2.png")" alt=""></div>
                                <p>Enrolled for their services for the sports car and they have a good collection considering the part of the country we are in.
                                Liking this company already</p>
                                <div class="wheel-quote-stars"><img src="@Url.Content("~/Content/images/stars.png")" alt=""></div>
                                <h6>Catrina Romero</h6>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="wheel-quote-item">
                                <div class="wheel-quote-logo"><img src="@Url.Content("~/Content/images/l2.png")" alt=""></div>
                                <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.</p>
                                <div class="wheel-quote-stars"><img src="@Url.Content("~/Content/images/stars.png")" alt=""></div>
                                <h6>Catrina Romero</h6>
                            </div>
                        </div>
                    </div>
                    <div class="pagination"></div>
                </div>
                <div class="swiper-outer-left fa fa-angle-left"></div>
                <div class="swiper-outer-right fa fa-angle-right"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="wheel-quote-partners">
                    <a href=""><img src="@Url.Content("~/Content/images/p1.png")" alt=""></a>
                    <a href=""><img src="@Url.Content("~/Content/images/p2.png")" alt=""></a>
                    <a href=""><img src="@Url.Content("~/Content/images/p3.png")" alt=""></a>
                    <a href=""><img src="@Url.Content("~/Content/images/p4.png")" alt=""></a>
                    <a href=""><img src="@Url.Content("~/Content/images/p5.png")" alt=""></a>
                    <a href=""><img src="@Url.Content("~/Content/images/p6.png")"alt=""></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ////////////////////////////////////////// -->
<!-- /////////////////////////////// -->
<div class="wheel-subscribe wheel-bg2">
    <div class="container ">
        <div class="row">
            <div class="col-md-6 padd-lr0">
                <div class="wheel-header">
                    <h5>Newsletter Signup </h5>
                    <h3>Subscribe & get<span> 20% </span> Off</h3>
                </div>
            </div>
            <div class="col-md-6 padd-lr0">
                <form action="#">
                    <input type="text" placeholder="Your Email Adddress">
                    <button class="wheel-btn">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
</div>
