
@{
    ViewBag.Title = "Review";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
        <!-- //////////////////////////////// -->
        <div class="wheel-start3">
            <img src="@Url.Content("~/Content/images/bg7.jpg")" alt="" class="wheel-img">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 padd-lr0">
                        <div class="wheel-start3-body clearfix marg-lg-t255 marg-lg-b75 marg-sm-t190 marg-xs-b30">
                            <h3>Reservation</h3>
                            <ol class="breadcrumb">
                                <li><a href="#">Home</a></li>
                                <li class="active">Reservation</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /////////////////////////////////// -->
        <div class="step-wrap">
            <!-- ////////////////////////////////////////// -->
            <div class="container padd-lr0">
                <div class="row">
                    <div class="col-xs-12 padd-lr0">
                        <ul class="steps">
                            <li class="title-wrap ">
                                <div class="title">
                                    <span>1.</span>Make a reservation
                                </div>
                            </li>
                            <li class="title-wrap ">
                                <div class="title">
                                    <span>2.</span>Select your car
                                </div>
                            </li>
                            <li class="title-wrap ">
                                <div class="title">
                                    <span>3.</span>Choose your options
                                </div>
                            </li>
                            <li class="title-wrap active">
                                <div class="title">
                                    <span>4.</span>Information & review
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- ////////////////////////////////////////// -->
        </div>
        <!-- ////////////////////////////////////////// -->
        <div class="product-wrap">
            <!-- ////////////////////////////////////////// -->
            <div class="container padd-lr0 xs-padd">
                <div class="row">
                    <div class="col-xs-12 pad-r col-md-6">
                        <div class="headlines1">
                            personal info
                        </div>
                        <div class="form-2 marg-lg-b25">
                            <input type="text" class="f-input" placeholder="First Name *">
                            <input type="text" class="f-input f-right" placeholder="Last Name *">
                            <input type="text" class="f-input" placeholder="Phone *">
                            <input type="text" class="f-input f-right" placeholder="Email *">
                            <label>
                            <input type="checkbox" class="input-check" value="yes">
                            Send me promotional email offers from Aspire Luxury Auto and its partners.
                            </label>
                            <label>
                            <input type="checkbox" class="input-check" value="yes">
                            I want to recieve text messages regarding my reservation. See <a href="#">Terms.</a>
                            </label>
                        </div>
                        <div class="headlines1 type-2">
                            Airline info
                        </div>
                        <div class="selects marg-lg-t10">
                            <div class="select select-4 type-2 marg-lg-t5">
                                <span class="">Select Airline</span>
                                <ul class="list">

                                    <li>Delta</li>
                                    <li>Southwest</li>
                                    <li>Pan Am</li>
                                    <li>Frontier</li>
                                </ul>
                            </div>
                            <input type="text" class="a-input f-right" placeholder="Flight Number">
                        </div>
                        <div class="headlines1">
                            Your order
                        </div>
                        <ul class="order clearfix marg-lg-b40 marg-xs-b10">
                            <li class="item clearfix">
                                <div class="title">2016 Lamborghini Aventador <span>($899.00 x 3 Days)</span></div>
                                <span>$2697.00</span>
                            </li>
                            <li class="item clearfix">
                                <div class="title">Extra Options <span>x 2</span></div>
                                <span>$25.00</span>
                            </li>
                            <li class="item clearfix">
                                <div class="title">Protection <span>x 2</span></div>
                                <span>$15.00</span>
                            </li>
                            <li class="item clearfix">
                                <div class="title">Other Fees</div>
                                <span>$30.00</span>
                            </li>
                        </ul>
                        <div class="payment">
                            <div class="headlines1">
                                Payment method
                            </div>
                            <input name="pay" id="pay1" type="radio" value="1" checked>
                            <label for="pay1">Pay at Rental Counter</label>
                            <!--<input name="pay" id="pay2" type="radio" value="2">
                            <label for="pay2">Pay Online <span>(Save $25)</span></label>-->
                            <div class="total clearfix">
                                <div class="title">Estimated Total</div>
                                <div class="price">$2767.00</div>
                            </div>
                            <div class="agree">
                                <input type="checkbox" class="input-check" value="yes">
                                I agree with the <a href="#">Terms and Conditions</a>
                            </div>
                            <a href="#" class="wheel-btn style-2">Book it now</a>
                        </div>
                    </div>
                    <div class="col-xs-12 pad-l col-md-6">
                        <div class="r-return-block type-2">
                            <button class="icon"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                            <h5 class="title">Pick-up</h5>
                            <div class="date">Friday, May 28, 2016 at 09:00 am</div>
                            <div class="address">Kansas City International Airport(MCI), Kansas City, Kansas</div>
                        </div>
                        <div class="r-return-block type-2">
                            <button class="icon"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                            <h5 class="title">Return</h5>
                            <div class="date">Monday, May 31, 2016 at 09:00 am</div>
                            <div class="address">Kansas City International Airport(MCI), Kansas City, Kansas</div>
                        </div>
                        <div class="r-return-block type-2 style-2">
                            <button class="icon"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                            <div class="img-wrap">
                                <img src="@Url.Content("~/Content/images/z-img-1.png")" alt="img" class="img-responsive">
                            </div>
                        </div>
                        <div class="r-return-block type-2 style-3">
                            <div class="text-wrap">
                                <div class="t-title">2016 Lamborghini Aventador</div>
                                <div class="t-subtitle">Luxury Sports Car</div>
                                <ul class="metadata">
                                    <li>2 seats</li>
                                    <li>4 bags</li>
                                    <li>15 mpg</li>
                                    <li>airbags</li>
                                    <li>manual/auto</li>
                                    <li>ac</li>
                                </ul>
                            </div>
                        </div>
                        <div class="checkblock type-2">
                            <h5 class="title">Choosen Options</h5>
                            <label>
                            <input type="checkbox" class="input-check" value="GPS" checked>
                            <span>GPS</span>
                            <span><b>$24</b>/Per Day</span>
                            </label>
                            <label>
                            <input type="checkbox" class="input-check" value="Theft Protection" checked>
                            <span>Theft Protection</span>
                            <span><b>$125</b>/Per Day</span>
                            </label>
                            <label>
                            <input type="checkbox" class="input-check" value="Rental Contract Fee" checked>
                            <span>Rental Contract Fee</span>
                            <span><b>$10</b>/Per Rental</span>
                            </label>
                            <label>
                            <input type="checkbox" class="input-check" value="Theft Protection" checked>
                            <span>Bicycle Rack</span>
                            <span><b>$40</b>/Per Rental</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ////////////////////////////////////////// -->
        </div>
        <!-- ////////////////////////////////////////// -->
        <div class="wheel-quote text-center">
            <img src="@Url.Content("~/Content/images/bg3.jpg")" alt="" class="wheel-img">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="swiper-container" data-autoplay="7000" data-touch="1" data-mouse="0" data-xs-slides="1" data-sm-slides="1" data-md-slides="1" data-lg-slides="1" data-add-slides="1" data-slides-per-view="responsive" data-loop="1" data-speed="1000">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                  <div class="wheel-quote-item">
                                      <div class="wheel-quote-logo"><img src="@Url.Content("~/Content/images/l2.png")" alt=""></div>
                                      <p>I've rented cars from them on few occasions, and will continue to conduct business with them when necessary in the future.
                                        I usually call Maryam and tell her what my budget is and how long I need the rental for, she always exceeds my expectations.
                                        Not only is she nice, sweet and professional, she is also very understanding when it comes to my budget.
                                        Once I couldn't afford to pay the asked price for the car i wanted, she was able to find another vehicle with the same features but in my budget.
                                        You can't get that level of service at bigger companies like Hertz or Enterprise.
                                        Those companies are not flexible with their prices or their cars, they have set prices for each of their cars and they could care less if you rent with them or not.
                                        But Value Rental Car does everything in their power,whether its with their offers or their customer service, to earn your business and to also keep you as a long term customer. </p>
                                      <div class="wheel-quote-stars"><img src="@Url.Content("~/Content/images/stars.png")" alt=""></div>
                                      <h6>Debbie G</h6>
                                  </div>
                              </div>
                              <div class="swiper-slide">
                                  <div class="wheel-quote-item">
                                      <div class="wheel-quote-logo"><img src="@Url.Content("~/Content/images/l2.png")" alt=""></div>
                                      <p>Enrolled for their services for the sports car and they have a good collection considering the part of the country we are in.
                                      Liking this company already</p>
                                      <div class="wheel-quote-stars"><img src="@Url.Content("~/Content/images/stars.png")" alt=""></div>
                                      <h6>Catrina Romero</h6>
                                  </div>
                              </div>

                            </div>
                            <div class="pagination"></div>
                        </div>
                        <div class="swiper-outer-left fa fa-angle-left"></div>
                        <div class="swiper-outer-right fa fa-angle-right"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="wheel-quote-partners">
                            <a href=""><img src="@Url.Content("~/Content/images/p1.png")" alt=""></a>
                            <a href=""><img src="@Url.Content("~/Content/images/p2.png")" alt=""></a>
                            <a href=""><img src="@Url.Content("~/Content/images/p3.png")" alt=""></a>
                            <a href=""><img src="@Url.Content("~/Content/images/p4.png")" alt=""></a>
                            <a href=""><img src="@Url.Content("~/Content/images/p5.png")" alt=""></a>
                            <a href=""><img src="@Url.Content("~/Content/images/p6.png")" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ////////////////////////////////////////// -->
        <!-- /////////////////////////////// -->
        <div class="wheel-subscribe wheel-bg2">
            <div class="container ">
                <div class="row">
                    <div class="col-md-6 padd-lr0">
                        <div class="wheel-header">
                            <h5>Newsletter Signup </h5>
                            <h3>Subscribe & get<span> 20% </span> Off</h3>
                        </div>
                    </div>
                    <div class="col-md-6 padd-lr0">
                        <form action="#">
                            <input type="text" placeholder="Your Email Adddress">
                            <button class="wheel-btn">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
