
@{
    ViewBag.Title = "SelectCar";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

        <!-- //////////////////////////////// -->
        <div class="wheel-start3">
            <img src="@Url.Content("~/Content/images/bg7.jpg")" alt="" class="wheel-img">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 padd-lr0">
                        <div class="wheel-start3-body clearfix marg-lg-t255 marg-lg-b75 marg-sm-t190 marg-xs-b30">
                            <h3>Reservation</h3>
                            <ol class="breadcrumb">
                                <li><a href="#">Home</a></li>
                                <li class="active">Reservation</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /////////////////////////////////// -->
        <div class="step-wrap">
            <!-- ////////////////////////////////////////// -->
            <div class="container padd-lr0">
                <div class="row">
                    <div class="col-xs-12 padd-lr0">
                        <ul class="steps">
                            <li class="title-wrap ">
                                <div class="title">
                                    <span>1.</span>Make a reservation
                                </div>
                            </li>
                            <li class="title-wrap active">
                                <div class="title">
                                    <span>2.</span>Select your car
                                </div>
                            </li>
                            <li class="title-wrap ">
                                <div class="title">
                                    <span>3.</span>Choose your options
                                </div>
                            </li>
                            <li class="title-wrap ">
                                <div class="title">
                                    <span>4.</span>Information & review
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- ////////////////////////////////////////// -->
        </div>
        <!-- ////////////////////////////////////////// -->
        <div class="prosuct-wrap">
            <!-- ////////////////////////////////////////// -->
            <div class="container marg-lg-b60 marg-xs-b40">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 padd-lr0 xs-padd">
                        <div class="r-return-block ">
                            <button class="icon"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                            <h5 class="title">Pick-up</h5>
                            <div class="date">Friday, May 28, 2016 at 09:00 am</div>
                            <div class="address">Kansas City International Airport(MCI), Kansas City, Kansas</div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 padd-lr0 xs-padd">
                        <div class="r-return-block ">
                            <button class="icon"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                            <h5 class="title">Return</h5>
                            <div class="date">Monday, May 31, 2016 at 09:00 am</div>
                            <div class="address">Kansas City International Airport(MCI), Kansas City, Kansas</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ////////////////////////////////////////// -->
            <div class="container padd-lr0 xs-padd">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-3">
                        <div class="select select-1">
                            <span class="">All categories</span>
                            <ul class="list">
                              <li>All categories</li>
                              <li>Compact Executive</li>
                              <li>Executive</li>
                              <li>Luxury</li>
                              <li>Estate</li>
                              <li>Sports</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-3">
                        <div class="select select-2">
                            <span class="">All brands</span>
                            <ul class="list">
                              <li>All brands</li>
                              <li>Mercedes</li>
                              <li>Ferari</li>
                              <li>Volvo</li>
                              <li>Chevrolet</li>
                              <li>Nissan</li>
                              <li>Audi</li>
                              <li>Porsche</li>
                              <li>Mitsubishi</li>
                              <li>Toyota</li>
                              <li>Honda</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-3">
                        <div class="select select-3">
                            <span class="">Any price</span>
                            <ul class="list">
                              <li>Any price</li>
                              <li>100$-200$</li>
                              <li>200$-300$</li>
                              <li>300$-600$</li>
                              <li>600$ & above</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container padd-lr0 xs-padd">
                <div class="product-list clearfix">
                    <div class="row">
                        <div class="col-xs-12 padd-lr0 xs-padd">
                            <div class="product-table">
                                <div class="img-wrap product-cell">
                                    <img src="@Url.Content("~/Content/images/product1.png")" alt="img" class="img-responsive">
                                </div>
                                <div class="text-wrap product-cell">
                                    <div class="title">Bugatti Veyron</div>
                                    <div class="subtitle">Luxury Sports</div>
                                </div>
                                <div class="price-wrap product-cell">
                                    <span>$650</span><sup>00</sup>/Day
                                </div>
                                <div class="btn-wrap product-cell">
                                    <a href="#" class="wheel-btn">Select</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container padd-lr0 xs-padd">
                <div class="product-list clearfix">
                    <div class="row">
                        <div class="col-xs-12 padd-lr0 xs-padd">
                            <div class="product-table">
                                <div class="img-wrap product-cell">
                                    <img src="@Url.Content("~/Content/images/product2.png")" alt="img" class="img-responsive">
                                </div>
                                <div class="text-wrap product-cell">
                                    <div class="title">Lamborghini Aventador</div>
                                    <div class="subtitle">Luxury Sports</div>
                                </div>
                                <div class="price-wrap product-cell">
                                    <span>$899</span><sup>00</sup>/Day
                                </div>
                                <div class="btn-wrap product-cell">
                                    <a href="#" class="wheel-btn">Select</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container padd-lr0 xs-padd">
                <div class="product-list clearfix">
                    <div class="row">
                        <div class="col-xs-12 padd-lr0 xs-padd">
                            <div class="product-table">
                                <div class="img-wrap product-cell">
                                    <img src="@Url.Content("~/Content/images/product3.png")" alt="img" class="img-responsive">
                                </div>
                                <div class="text-wrap product-cell">
                                    <div class="title">2017 Volvo XC7</div>
                                    <div class="subtitle">Estate</div>
                                </div>
                                <div class="price-wrap product-cell">
                                    <span>$150</span><sup>00</sup>/Day
                                </div>
                                <div class="btn-wrap product-cell">
                                    <a href="#" class="wheel-btn">Select</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container padd-lr0 xs-padd">
                <div class="product-list clearfix">
                    <div class="row">
                        <div class="col-xs-12 padd-lr0 xs-padd">
                            <div class="product-table">
                                <div class="img-wrap product-cell">
                                    <img src="@Url.Content("~/Content/images/product4.png")" alt="img" class="img-responsive">
                                </div>
                                <div class="text-wrap product-cell">
                                    <div class="title">2016 Porsche Panamera</div>
                                    <div class="subtitle">Luxury Sedan</div>
                                </div>
                                <div class="price-wrap product-cell">
                                    <span>$400</span><sup>00</sup>/Day
                                </div>
                                <div class="btn-wrap product-cell">
                                    <a href="#" class="wheel-btn">Select</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container padd-lr0 xs-padd">
                <div class="product-list clearfix">
                    <div class="row">
                        <div class="col-xs-12 padd-lr0 xs-padd">
                            <div class="product-table">
                                <div class="img-wrap product-cell">
                                    <img src="@Url.Content("~/Content/images/Ferrari-LaFerrari.png")" alt="img" class="img-responsive">
                                </div>
                                <div class="text-wrap product-cell">
                                    <div class="title">2015 Ferrari LaFerrari</div>
                                    <div class="subtitle">Luxury Sports</div>
                                </div>
                                <div class="price-wrap product-cell">
                                    <span>$899</span><sup>00</sup>/Day
                                </div>
                                <div class="btn-wrap product-cell">
                                    <a href="#" class="wheel-btn">Select</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ////////////////////////////////////////// -->
        <div class="wheel-quote text-center">
            <img src="@Url.Content("~/Content/images/bg3.jpg")" alt="" class="wheel-img">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="swiper-container" data-autoplay="7000" data-touch="1" data-mouse="0" data-xs-slides="1" data-sm-slides="1" data-md-slides="1" data-lg-slides="1" data-add-slides="1" data-slides-per-view="responsive" data-loop="1" data-speed="1000">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="wheel-quote-item">
                                        <div class="wheel-quote-logo"><img src="@Url.Content("~/Content/images/l2.png")" alt=""></div>
                                        <p>I've rented cars from them on few occasions, and will continue to conduct business with them when necessary in the future.
                                          I usually call Maryam and tell her what my budget is and how long I need the rental for, she always exceeds my expectations.
                                          Not only is she nice, sweet and professional, she is also very understanding when it comes to my budget.
                                          Once I couldn't afford to pay the asked price for the car i wanted, she was able to find another vehicle with the same features but in my budget.
                                          You can't get that level of service at bigger companies like Hertz or Enterprise.
                                          Those companies are not flexible with their prices or their cars, they have set prices for each of their cars and they could care less if you rent with them or not.
                                          But Value Rental Car does everything in their power,whether its with their offers or their customer service, to earn your business and to also keep you as a long term customer. </p>

                                        <div class="wheel-quote-stars"><img src="@Url.Content("~/Content/images/stars.png")" alt=""></div>
                                        <h6>Debbie G</h6>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="wheel-quote-item">
                                        <div class="wheel-quote-logo"><img src="@Url.Content("~/Content/images/l2.png")" alt=""></div>
                                        <p>Enrolled for their services for the sports car and they have a good collection considering the part of the country we are in.
                                        Liking this company already</p>
                                        <div class="wheel-quote-stars"><img src="@Url.Content("~/Content/images/stars.png")" alt=""></div>
                                        <h6>Catrina Romero</h6>
                                    </div>
                                </div>

                            </div>
                            <div class="pagination"></div>
                        </div>
                        <div class="swiper-outer-left fa fa-angle-left"></div>
                        <div class="swiper-outer-right fa fa-angle-right"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="wheel-quote-partners">
                            <a href=""><img src="@Url.Content("~/Content/images/p1.png")" alt=""></a>
                            <a href=""><img src="@Url.Content("~/Content/images/p2.png")" alt=""></a>
                            <a href=""><img src="@Url.Content("~/Content/images/p3.png")" alt=""></a>
                            <a href=""><img src="@Url.Content("~/Content/images/p4.png")" alt=""></a>
                            <a href=""><img src="@Url.Content("~/Content/images/p5.png")" alt=""></a>
                            <a href=""><img src="@Url.Content("~/Content/images/p6.png")" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ////////////////////////////////////////// -->
        <div class="wheel-subscribe wheel-bg2">
            <div class="container ">
                <div class="row">
                    <div class="col-md-6 padd-lr0">
                        <div class="wheel-header">
                            <h5>Newsletter Signup </h5>
                            <h3>Subscribe & get<span> 20% </span> Off</h3>
                        </div>
                    </div>
                    <div class="col-md-6 padd-lr0">
                        <form action="#">
                            <input type="text" placeholder="Your Email Adddress">
                            <button class="wheel-btn">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
